/* metrics */
div.css-1wivap2.e16fv1kl3{
    background-color: #072e5e;
    border-radius: 100px;
    padding: 10px 20px 10px 10px;
    color: rgb(245, 250, 245);
}
/*map visual*/
div.css-1codgjd.e1s6o5jp0
{
    background-color: #072e5e;
    border-radius: 100px;
    padding: 10px 20px 10px 10px;
    color: rgb(245, 250, 245);
    
}
/* Title styling */
div.css-zt5igj.e16nr0p33{
    background-color: #072e5e;
    border-radius: 100px;
    padding: 25px 20px 25px 10px;
    color: rgb(245, 250, 245);  
}
div.css-1thrlxu.e16nr0p34{
    color: #072e5e;  
}
